# Server
PORT=
NODE_ENV=

# URLs
FRONTEND_URL=
ADMIN_URL=

# Database
MONGO_URI=

# Auth
JWT_SECRET_KEY=
JWT_EXPIRES=
COOKIE_EXPIRES=

# Email (Resend)
RESEND_API_KEY=
CONTACT_RECEIVER_MAIL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe
STRIPE_SECRET_KEY=

